* {
    /* margin: 0 auto;
    padding: 0 auto; */
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.aside, .lookBook {
    background-color: aliceblue;
    margin-bottom:2rem;
}

.card {
    background-color: gray;
    border: 1px solid gray;
    padding: 6px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.container {
display: flex;
justify-content: center;
gap: 2rem;
height: 100%;
}

.navbar {
    height: 500px;
}

.produit {
    width: 600px;
    height: 400px;
}



